{{#section 'css'}}
    <link href="/./public/style/byCat.css" rel="stylesheet">
{{/section}}
{{#section 'js'}}
    <script>
        $(function() {

            $('.list-group-item').on('click', function() {
                $('.glyphicon', this)
                        .toggleClass('glyphicon-chevron-right')
                        .toggleClass('glyphicon-chevron-down');
            });

        });
    </script>
{{/section}}
<div class="container-fluid mt-4">
  <div class="row">
      <div class="col-sm-3">
        <div class="card mb-3">
          <h4 class="card-header ">
            Lĩnh vực
          </h4>
           <div class="just-padding">
               <div class="list-group list-group-root well">
                   {{#each lcCatParent}}
                   <a href="#" class="list-group-item" data-bs-toggle="collapse" data-bs-target="#item-{{CatID}}"
                  aria-expanded="true" aria-controls="collapseOne"></i>{{CatName}}
                   </a>
                   <div class="list-group collapse" id="item-{{CatID}}">
                       {{#each ../lcCat}}
                           {{#if (eq CatParent ../CatID) }}
                       <a href="/courses/byCat/{{CatID}}" class="list-group-item" data-toggle="collapse">
                           <i class="glyphicon glyphicon-chevron-right"></i>{{CatName}}
                       </a>
                           {{/if}}
                       {{/each}}
                   </div>
                   {{/each}}
               </div>
           </div>
  </div>
  </div>
  <div class ="col-sm-7" >
  <div class="card text-white bg-warning">
  <h4 class="card-header">
    Khóa học
  </h4>
  {{#if this.empty}}
    <div class="card-body">
      Không có dữ liệu!
    </div>
  {{else}}
    <div class="card-body text-black">
      <div class="row">
        {{#each this.courses}}

          <div class="col-sm-4 mb-3">
            <div class="card h-100">
              <img src="/public/img/{{CourID}}/main.jpg" alt="{{CourName}}" title="{{CourName}}">
              <div class="card-body">
                <h5 class="card-title">{{CourName}}</h5>
                <h5 class="text-danger">{{format_number Price}}</h5>
                <h6 class="card-title">Lượt xem: {{Views}}</h6>
              </div>
              <div class="card-footer">
                <a
                  class="btn btn-outline-primary"
                  href="/courses/detail/{{CourID}}"
                  role="button"
                  style="width: 100%"
                >

                  Xem chi tiết
                </a>
              </div>
            </div>
          </div>
         
        {{/each}}
      </div>
      <ul class="pagination">
       {{#if (eq this.pageNumbers.[0].isCurPage 1)  }}

            {{else}}
            <li class="page-item">
              <a class="page-link" href="?page={{minus this.pageNumbers.[0].isCurPage 1}}">Previous</a>
          </li>
        {{/if}}

        {{#each this.pageNumbers}}


          {{#if isCurrent}}

            <li class="page-item active" aria-current="page">
              <span class="page-link">{{value}}</span>
            </li>
          {{else}}
            <li class="page-item">
              <a class="page-link" href="?page={{value}}">{{value}}</a>
            </li>
          {{/if}}
        {{/each}}

        {{#if (eq this.pageNumbers.[0].isCurPage this.pageNumbers.[0].nPages)  }}

            {{else}}
            <li class="page-item">
              <a class="page-link" href="?page={{add this.pageNumbers.[0].isCurPage 1}}">Next</a>
          </li>
        {{/if}}
      </ul>
    </div>
  {{/if}}
  </div>
  </div>
</div>
</div>
