
<div class="p-3 mb-2 bg-dark text-white">

    <p class="h1 text-center ml-md-3">{{this.product.CourName}}</p>
    <p class="h6 text-center ml-md-3">{{this.product.TinyDes}}</p>
    <i class="bi bi-arrow-up-circle-fill"></i>
    <div class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
     </svg> Update:{{this.product.update}}
    </div>
</div>

<div class="position-fixed border " style="right:50px;top:150px;width:25%;">
        <img src="/public/img/{{this.product.CourID}}/main.jpg" alt=""class="align-center" style="height: 250px;width:100%;margin-bottom:20px">
        <br>
        <h1 class="text-danger text-center">{{format_number this.product.Price}}đ
</h1>
        <br>
        <div class="d-flex align-items-baseline" style="space-between">
            <div class="btn btn-outline-danger btn-lg align-middle"  href="#" role="button" style="justify-content: left ; margin-left: 1rem ;margin-bottom: 1rem " >
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                Yêu thích
            </div>
            <div class="btn btn-outline-success btn-lg align-middle" href="#" role="button" style="justify-content: right ; margin-left: 3rem ;margin-bottom: 1rem ">
                <i class="fa fa-cart-plus " aria-hidden="true"></i>
                Mua khóa học
            </div>
        </div>
{{!-- {{format_number this.product.Price}}đ --}}

        
</div>
<div style="width: 50%;margin-left:15%">


    <div style=" border: 1px solid gray;margin-bottom:50px">
        <h3 style="margin-left: 20px;" class="text-black" >What you'll learn</h3>
        <div style="margin-left: 20px;">{{{this.product.FullDes}}}</div>

    </div>
    <div style="border: 1px solid gray;margin-bottom:50px;">
        <h3 style="margin-left: 20px;" class="text-black" >Description</h3>
        <div style="margin-left: 20px;">{{{this.product.FullDes}}}</div>
        
    </div>

    <div style=" border: 1px solid gray;">
        <h3 style="margin-left: 20px;" class="text-black" >Information Lecture</h3>
        <div style="margin-left: 20px;">{{{this.product.TeacherID}}}</div>
        
        
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/BFJrxuBc2ps" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div style="" class="mostview container-fluid my-5 ">
        <h1>TOP MOST BUY COURSES</h1>
        <div class="row">
            <div class="col-12 m-auto">
                <div class="owl-carousel owl-theme d-flex">
                    {{#each this.listMost}}
                        <div style="margin-right: 5px;" class="item mb-4">
                            <div class="card text-center border-0 shadow">
                                <img src="/public/img/123.jpg" alt="" class="card-img-top" style="width: 50%px;height:50%px">
                                <div class="card-body">
                                    <div class="card-title text-center">
                                        <h4>{{CourName}}</h4>
                                    </div>
                                    <p class="card-text text-center">{{TinyDes}}</p>
                                    <a href="/courses/detail/{{CourID}}" class="btn btn-primary">Check detail</a>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>




