<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-sm-3">
            <div class="card mb-3">
                <h4 class="card-header ">
                    Lĩnh vực
                </h4>
                <div class="just-padding">
                    <div class="list-group list-group-root well">
                        {{#each lcCatParent}}
                            <a href="#" class="list-group-item" data-bs-toggle="collapse" data-bs-target="#item-{{CatID}}"
                               aria-expanded="true" aria-controls="collapseOne"></i>{{CatName}}
                            </a>
                            <div class="list-group collapse" id="item-{{CatID}}">
                                {{#each ../lcCat}}
                                    {{#if (eq CatParent ../CatID) }}
                                        <a href="/courses/byCat/{{CatID}}" class="list-group-item" data-toggle="collapse">
                                            <i class="glyphicon glyphicon-chevron-right"></i>{{CatName}}
                                        </a>
                                    {{/if}}
                                {{/each}}
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="card mb-3  d-flex flex-column bd-highlight mb-3">
                <h4 class="card-header ">
                    Xếp Hạng
                </h4>
                <form method="post" class=" d-flex flex-column bd-highlight mb-3" >
                    <div class="d-grid gap-2">
                        <button class=" p-2 w-100 bd-highlight btn btn-outline-secondary" style="padding-left: 0px ; margin-top: 10px" value="Price" type="submit"
                                name="Array" href="#" role="button"
                                style="justify-content: left ; margin-left: 1rem ;margin-bottom: 1rem ">
                            <i aria-hidden="true" style="color: #1b1b1b">ORDER PRICE</i>
                        </button>
                        <button class=" p-2 w-100 bd-highlight btn btn-outline-secondary " style="padding-left: 0px " value="Rating" type="submit"
                                name="Array" href="#" role="button"
                                style="justify-content: left ; margin-left: 1rem ;margin-bottom: 1rem ">
                            <i  aria-hidden="true" style="color: #1b1b1b"> ORDER RATING</i>
                        </button>
                   </div>
                </form>
                <ul class="list-group list-group-flush">

                </ul>
            </div>
        </div>
        <div class ="col-sm-7" >
            <div class="card text-white bg-warning">
                <h4 class="card-header">
                    Khóa học
                </h4>
                {{#if this.product.empty}}
                    <div class="card-body">
                        Không có dữ liệu!
                    </div>
                {{else}}
                    <div class="card-body text-black">
                        <div class="row">
                            {{#each this.product}}
                                <div class="col-sm-4 mb-3">
                                    <div class="card h-100">
                                        <img src="/public/img/{{this.CourID}}/main.jpg" alt="{{this.CourName}}" title="{{this.CourName}}">
                                        <div class="card-body">
                                            <h5 class="card-title">{{this.CourName}}</h5>
                                            <h5 class="card-title">{{this.CatName}}</h5>
                                            <h5 class="text-danger">{{format_number this.Price}}</h5>
                                   {{#if (eq this.CourID 3 )}}<h4 class="text-success">Best Rating</h4>{{/if}}
                                            {{#if (eq this.CourID 1 )}}<h4 class="text-primary">Best Seller</h4>{{/if}}
                                            {{#if (eq this.CourID 2 )}}<h4 class="text-success">Best Rating</h4>{{/if}}
                                            {{#if (eq this.CourID 5 )}}<h4 class="text-primary">Best Seller</h4>{{/if}}
                                            {{#if (eq this.CourID 10 )}}<h4 class="text-primary">Best Seller</h4>{{/if}}
                                        </div>
                                        <div class="card-footer">
                                            <a
                                                    class="btn btn-outline-primary"
                                                    href="/courses/detail/{{this.CourID}}"
                                                    role="button"
                                            >
                                                Xem chi tiết
                                            </a>
                                            <a class="btn btn-outline-success" href="#" role="button">
                                                Mua khóa học
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            {{/each}}
                        </div>
                        <ul class="pagination" style="align-content: center">
                            {{#if (eq this.pageNumbers.[0].isCurPage 1)  }}

                            {{else}}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{minus this.pageNumbers.[0].isCurPage 1}}">Previous</a>
                                </li>
                            {{/if}}

                            {{#each this.pageNumbers}}


                                {{#if isCurrent}}

                                    <li class="page-item active" aria-current="page">
                                        <span class="page-link">{{value}}</span>
                                    </li>
                                {{else}}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{value}}">{{value}}</a>
                                    </li>
                                {{/if}}
                            {{/each}}

                            {{#if (eq this.pageNumbers.[0].isCurPage this.pageNumbers.[0].nPages)  }}

                            {{else}}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{add this.pageNumbers.[0].isCurPage 1}}">Next</a>
                                </li>
                            {{/if}}
                        </ul>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
