{{#section 'css'}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="/public/style/profile.css">
    <link href="/./public/style/byCat.css" rel="stylesheet">
    {{#section 'js'}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
        <script>
            $(function() {

                $('.list-group-item').on('click', function() {
                    $('.glyphicon', this)
                            .toggleClass('glyphicon-chevron-right')
                            .toggleClass('glyphicon-chevron-down');
                });

            });
        </script>
    {{/section}}

{{/section}}

<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->

    <nav class="nav nav-borders">
        <a class="nav-link " href="http://localhost:3000/account/profile" target="__blank">Profile</a>
        <a class="nav-link " href="http://localhost:3000/account/wishcourses" target="__blank">Wish Courses</a>
        <a class="nav-link active ms-0" href="http://localhost:3000/account/courseslist" target="__blank">Course List</a>
    </nav>

    <div class ="col-sm-10 justify-content-center "  style="margin-left: 50px">
        <div class="card text-white bg-warning ">
            <h4 class="card-header">
                Khóa học
            </h4>
            {{#if this.product.empty}}
                <div class="card-body">
                    Không có dữ liệu!
                </div>
            {{else}}
                <div class="card-body text-black">
                    <div class="row">
                        {{#each this.product}}

                            <div class="col-sm-4 mb-3">
                                <div class="card h-100">
                                    <img src="/public/img/{{this.CourID}}/main.jpg" alt="{{this.CourName}}" title="{{this.CourName}}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{this.CourName}}</h5>
                                        <h5 class="text-danger">{{format_number this.Price}}</h5>
                                        <h6 class="card-title">Lượt xem: {{Views}}</h6>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between" >
                                        <a
                                                class="btn btn-outline-primary"
                                                href="/courses/detail/{{this.CourID}}"
                                                role="button"
                                        >

                                            Xem chi tiết
                                        </a>
                                    </div>
                                </div>
                            </div>

                        {{/each}}
                    </div>
                    <ul class="pagination" style="align-content: center">
                        {{#if (eq this.pageNumbers.[0].isCurPage 1)  }}

                        {{else}}
                            <li class="page-item">
                                <a class="page-link" href="?page={{minus this.pageNumbers.[0].isCurPage 1}}">Previous</a>
                            </li>
                        {{/if}}

                        {{#each this.pageNumbers}}


                            {{#if isCurrent}}

                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">{{value}}</span>
                                </li>
                            {{else}}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{value}}">{{value}}</a>
                                </li>
                            {{/if}}
                        {{/each}}

                        {{#if (eq this.pageNumbers.[0].isCurPage this.pageNumbers.[0].nPages)  }}

                        {{else}}
                            <li class="page-item">
                                <a class="page-link" href="?page={{add this.pageNumbers.[0].isCurPage 1}}">Next</a>
                            </li>
                        {{/if}}
                    </ul>
                </div>
            {{/if}}
        </div>
    </div>

</div>
